<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<property name="ENCODER_PATTERN"
		value="%d{yyyy-MM-dd  HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>${ENCODER_PATTERN}</Pattern>
		</encoder>
	</appender>

	<appender name="ClassUtil_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/classutil.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/classutil-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
		<append>false</append>
		<prudent>false</prudent>
	</appender>

	<logger name="ClassUtil" level="INFO" addtivity="false">
		<appender-ref ref="ClassUtil_FILE"></appender-ref>
	</logger>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>